@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a:visited {
  color: inherti;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}
html {
  font-size: 62.5%;
}

.inner {
  top: 0;
  left: 0;
  padding: 20vh 8.4vw 6.5vh;
  margin: auto 0;
  width: 100vw;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .inner {
    padding: 0 6vw;
  }
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #707070;
  font-size: 1.8rem;
  letter-spacing: .2em;
  line-height: 3;
}

@media screen and (max-width: 600px) {
  .title {
    padding: 60px 0;
  }
}

.title::after {
  display: inline-block;
  content: "";
  border-top: 1px solid #707070;
  width: 3em;
  margin-left: 1rem;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

body.noscroll {
  overflow: hidden;
}

#top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 66px 6%;
  position: absolute;
  letter-spacing: .5rem;
  z-index: 10;
}

@media screen and (max-width: 959px) {
  #top-header {
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    position: fixed;
    -webkit-transform: translate(0, -70px);
            transform: translate(0, -70px);
    letter-spacing: .1rem;
  }
}

.header-logo {
  font-size: 3.8rem;
}

@media screen and (max-width: 959px) {
  .header-logo {
    font-size: 2.2rem;
    padding: 24px 0 24px 21px;
  }
}

.header-nav {
  width: 100%;
}

.header-nav .nav-wrap {
  height: 100%;
  width: 100%;
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  line-height: 1.0;
  color: #707070;
}

.header-nav li {
  margin-left: 21px;
  position: relative;
}

.more:hover {
  color: #000000;
}

.more:hover .border {
  position: absolute;
  left: 0;
  top: 100%;
  width: 90%;
  border-top: 1px solid black;
}

.ham {
  display: none;
}

@media screen and (max-width: 959px) {
  .ham {
    width: 26px;
    height: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 20px;
    z-index: 3;
    cursor: pointer;
  }
  .ham span {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: black;
  }
  .ham span:last-child {
    width: 70%;
  }
}

@media screen and (max-width: 959px) {
  .ham.close #line1 {
    -webkit-transform: translate(0, 7px) rotate(45deg);
            transform: translate(0, 7px) rotate(45deg);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    background-color: #707070;
  }
  .ham.close #line2 {
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
  }
  .ham.close #line3 {
    -webkit-transform: translate(0, -7px) rotate(-45deg);
            transform: translate(0, -7px) rotate(-45deg);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    background-color: #707070;
    width: 100%;
  }
  .nav-wrap {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .header-nav {
    width: 100%;
    height: 100%;
    background-color: #1B1310;
    z-index: 1;
  }
  .header-nav ul {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
  }
  .header-nav li {
    margin-right: 0;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 959px) {
  .first-view {
    margin-top: 70px;
  }
}

.first-view__wrap {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.catch {
  display: inline-block;
  width: 46%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 959px) {
  .catch {
    position: absolute;
    height: 113px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
  }
}

.catch p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 25%;
}

@media screen and (max-width: 959px) {
  .catch p {
    color: white;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.catch p .catch1 {
  font-family: "ヒラギノ明朝 Pro";
  font-size: 3.8rem;
}

@media screen and (max-width: 959px) {
  .catch p .catch1 {
    font-size: 2.3rem;
  }
}

.catch p .catch2 {
  font-family: "Zapfino";
  font-size: 3.8rem;
}

@media screen and (max-width: 959px) {
  .catch p .catch2 {
    font-size: 2.8rem;
  }
}

.top-image {
  background-image: url(../img/first-view.png);
  width: 54%;
  height: 100vh;
  background-size: cover;
}

@media screen and (max-width: 959px) {
  .top-image {
    width: 100%;
  }
}

.concept {
  background: -webkit-gradient(linear, left top, left bottom, from(#A193861F), color-stop(40%, #A193861F), color-stop(0%, #A1938689), color-stop(60%, #A1938689));
  background: linear-gradient(180deg, #A193861F 0%, #A193861F 40%, #A1938689 0%, #A1938689 60%);
  width: 100vw;
  position: relative;
}

.concept-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.concept-img__1 {
  background-size: cover;
  padding-right: 10px;
}

@media screen and (max-width: 600px) {
  .concept-img__1 {
    width: 50%;
    height: 205px;
  }
  .concept-img__1 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 100% 100%;
       object-position: 100% 100%;
  }
}

@media screen and (max-width: 600px) {
  .concept-img__2 {
    width: 50%;
    height: 205px;
  }
  .concept-img__2 img {
    width: 100%;
    height: 100%;
  }
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 65px 5%;
  width: 100%;
}

@media screen and (max-width: 959px) {
  .text {
    display: block;
    padding: 20% 0;
  }
}

.text .catch3 {
  display: inline-block;
  color: #ffffff;
  font-size: 4rem;
  font-family: "ヒラギノ明朝 Pro";
  margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
  .text .catch3 {
    font-size: 1.8rem;
    letter-spacing: 1rem;
    width: 100%;
    text-align: center;
  }
}

.text .textbox {
  display: inline-block;
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 1.8;
  width: 45%;
  font-family: "ヒラギノ角ゴ Pro";
}

@media screen and (max-width: 959px) {
  .text .textbox {
    width: 100%;
  }
}

.menu {
  width: 100vw;
}

.menu__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .menu__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu__wrap__content {
  display: inline-block;
  height: 100%;
  width: 28%;
}

@media screen and (max-width: 600px) {
  .menu__wrap__content {
    width: 100%;
    padding-bottom: 110px;
  }
}

.menu__wrap__content h2 {
  font-size: 3rem;
  text-align: center;
  padding: 30px 0;
}

@media screen and (max-width: 959px) {
  .menu__wrap__content h2 {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 600px) {
  .menu__wrap__content h2 {
    font-size: 3rem;
  }
}

.menu__wrap__content .menu-text {
  font-size: 1.6rem;
  letter-spacing: .5rem;
  line-height: 1;
}

@media screen and (max-width: 959px) {
  .menu__wrap__content .menu-text {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .menu__wrap__content .menu-text {
    font-size: 1.6rem;
  }
}

.menu__wrap__content .price {
  font-size: 1.6rem;
  text-align: right;
  margin-top: 30px;
}

.menu-img__cut {
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.menu-img__perm {
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.menu-img__make {
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.access {
  width: 100vw;
  background-color: #A193861F;
  padding: 0;
}

.access .inner {
  height: 0;
}

@media screen and (max-width: 600px) {
  .access .inner {
    height: 100%;
  }
}

.access__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: 396px;
}

@media screen and (max-width: 959px) {
  .access__wrap {
    height: 511px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.access-text {
  background-color: #D0C5BA;
  padding: 101px 15vh 103px 8vh;
  width: 40%;
  height: 100%;
}

@media screen and (max-width: 959px) {
  .access-text {
    width: 100%;
    height: 55%;
    padding: 30px 0 60px 20px;
  }
}

.access-text h3 {
  color: #00000038;
  font-size: 2.4rem;
  padding-bottom: 20px;
}

.access-text p {
  line-height: 4rem;
  color: white;
  font-size: 1.6rem;
}

@media screen and (max-width: 959px) {
  .map {
    width: 100%;
    height: 45%;
  }
}

.access-bg {
  height: 70px;
  background-color: #A193861F;
}

.footer {
  height: 343px;
  width: 100vw;
  position: relative;
}

.footer .content {
  height: 100%;
  width: 100%;
  padding: 0 8.4vw;
  position: static;
}

.footer-wrap {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 600px) {
  .footer-wrap {
    height: 75%;
  }
}

.footer-border {
  height: 50%;
  border-bottom: 1px solid #707070;
}

@media screen and (max-width: 600px) {
  .footer-border {
    position: relative;
    height: 25%;
  }
}

.footer-content {
  height: 50%;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 600px) {
  .footer-content {
    width: 100%;
    height: 100%;
    padding-bottom: 18px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.footer-logo {
  color: #7070704D;
  font-size: 3.2rem;
}

@media screen and (max-width: 600px) {
  .footer-logo {
    font-size: 1.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.reserve-button {
  border: 1px solid black;
  color: #707070;
  padding: 15px 35px;
  line-height: 0;
  font-size: 1.8rem;
}

@media screen and (max-width: 600px) {
  .reserve-button {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
}

.fab {
  font-size: 2.2rem;
  color: black;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */