.access {
    width: 100vw;
    background-color: $bgc3;
    padding: 0;

    .inner {
        height: 0;
        @include sp {
            height: 100%;
        }
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        width: 100vw;
        height: 396px;

        @include tab {
            height: 511px;
            flex-direction: column-reverse;
        }

    }
}




.access-text {
background-color: $bgc4;
padding: 101px 15vh 103px 8vh;
width: 40%;
height: 100%;

@include tab {
    width: 100%;
    height: 55%;
    padding: 30px 0 60px 20px;
}




    h3 {
 
        color: $font-color3;
        font-size: 2.4rem;
        padding-bottom: 20px;
    }
    p {
        line-height: 4rem;
       color: white;
       font-size: 1.6rem; 
    }
}

.map {
    @include tab {
        width: 100%;
        height: 45%;

    }
}

.access-bg {
    height: 70px;
    background-color: $bgc3;
}